body {
  background-color: #fc766aff;
  font-family: sans-serif;
  color: white;
  font-weight: 400;
  font-style: strong;
  font-size: 1.4rem;
}

h1,
.form__todo {
  text-align: center;
}

ul button {
  border: none;
  background-color: transparent;
}

ul li {
  background-color: #f1ac88ff;
  list-style: none;
}

ul li:nth-child(odd) {
  background-color: rgb(235, 148, 102);
}

ul li:hover {
  background-color: #783937ff;
}

.btn__add {
  border: none;
  background-color: #f1ac88ff;
  font-size: 1.2rem;
  color: white;
}

.btn__add:hover {
  background-color: rgb(235, 148, 102);
}

form {
  display: flex;
  justify-content: center;
}

.todo__text {
  border: none;
  font-size: 1.6rem;
}

ul li.completed {
  color: blue;
  text-decoration: line-through;
  background: grey;
}

.btn__delete {
  position: absolute;
  right: 1.2rem;
}

.btn__complete:hover,
.btn__delete:hover {
  transition: all 0.3s;
  transform: scale(2);
}
